# Practical Application

# Greenhouse gas emissions around Digne-les-Bains

## Problem

**You've been asked to sum up all the greenhouse gas emissions (GHGE) emitted during the year 2016 by the city of Digne-les-Bains as well as all the other cities located within a radius of 30kms around it. How would you proceed?**

## Objectives

This notebook will allow you to:

- Learn how to read and explore a dataset.
- Clean it up so that we can work with it.
- Write custom functions and apply them on this dataset.
- Fill in missing data using an online API or performing a join.
- Answer the problem.

## Coding

### Imports

**>>>** Import Pandas as pd:

In [1]:
#code here!

### Downloading and reading a CSV file

**>>>** Download the csv file named **"Émissions de gaz à effet de serre PRG100 par commune - indicateur"** which can be downloaded at the following address
https://trouver.datasud.fr/dataset/emissions-de-gaz-a-effet-de-serre-prg100-par-commune-indicateur

Then move it to the same directory as this notebook (working directory).

**>>>** Create a new *DataFrame* named "df" with the ``pd.read_csv()`` function. If Pandas returns an error, open the file with jupyter lab or a text editor (VS Code, Notepad++ etc. but do NOT use Excel!) and examine it to find the source of the error. The most common errors when reading a csv file are:

- A wrong field separator, by default Pandas assumes that it is the "," character. In this case specify the separator (= delimiter) with the argument "sep".

- A bad "quotechar", a character used to denote the start and end of a quoted item. Quoted items can include the delimiter and it will be ignored. In this case specify it with the "quotechar" argument.

- Bad file encoding. The "utf-8" standard is the most common, but sometimes the files are in other formats like "cp1252" for example. In this case specify the encoding with the "encoding" argument.

- The presence of extra lines at the beginning or at the end of the file. In this case use the "skiprows" or "skipfooter" arguments to ignore these lines.

*NOTE*: Do **NOT** open the file with "Excel", it may corrupt your file and make it unreadable.

In [3]:
#code here!

### Exploration and cleaning

**>>>** Display the first 5 lines using the ``.head()`` method.

In [5]:
#code here!

**>>>** Display the types of each column with the ``.dtypes`` property. Make sure that every series has the right data type (dtype).

In [7]:
#code here!

**>>>** Display the number of rows and columns with the ``.shape`` property of the dataframe.

In [9]:
#code here!

**>>>** Use the ``.isna()`` and ``.sum()`` methods on the dataframe to see if there are any rows with empty values. If so, delete all rows with null values using the ``.dropna()`` method. Don't forget to replace the old df with this new df.

*Note: In many cases we can work with missing values. But here we're going to delete them in order to simplify the exercise but also because these rows with missing values will not be useful anyway.*

In [11]:
#code here!

In [13]:
#code here!

In [15]:
#code here!

**>>>** Look at each column (also called a *Series*) and determine which ones are useful. You can use ``.unique()``, ``nunique()``, ``.value_counts()`` on the Series as well as ``.plot()`` and ``.plot.bar()`` or ``.plot.hist()`` to visualize the data.

In [17]:
#code here!

In [19]:
#code here!

In [21]:
#code here!

In [23]:
#code here!

In [25]:
#code here!

In [27]:
#code here!

**>>>** Remove the unnecessary columns using ``df.drop()`` and the "columns" argument. Don't forget to replace the old df with this new df.

In [29]:
#code here!

In [31]:
#code here!

**>>>** Rename the remaining columns so that they all have a short name, in lower case and without accents.

For example :

```python
{'Année': 'year', 'Entité administrative': 'entity', 'Valeur': 'value'}
```

You can do this in two ways: 

- By changing the ``df.columns`` property with a list containing the new column names.

- By applying the method ``.rename()`` to your *DataFrame* and giving the argument ``columns`` a dictionary which will contain the old names as keys and the new name as values. Don't forget to replace the old df with this new df.

In [33]:
df.columns

Index(['Année', 'Entité administrative', 'Valeur'], dtype='object')

In [34]:
#code here!

### Dataframe transformation

The dataframe is now much cleaner. However, there is still some processing to be done in the "entity" and "value" columns to make them more readable.

**>>>** Use the ``str.split()`` method or the ``str.rsplit()`` method to separate the cities from the "department code" and place them in two separate columns. To do this you can use the parameters "n" which indicates the number of splits to be performed, and "expand" which takes a boolean value and allows you to create new series automatically.

Remember: by default ``str.split()`` uses space as a separator.

Store these results in one column named 'city' and the other named 'dept'.

To assign the split results directly to two columns you can use a list of series, for example :

```python
df[['serie1', 'serie2']] = # use the str.expand() function here
```

In [36]:
#code here!

**>>>** Replace the "(" and ")" characters from the "dept" column using the ``str.replace()`` method. It works like the ``.replace()`` function. However, depending on your Pandas version, add "regex=False" as a parameter if you don't want a warning message to appear.

Don't forget to replace the old series with the new one (be careful not to change the whole dataframe this time, only the Series!).

In [38]:
# Code here!

**>>>** We don't need the "entity" column anymore, drop it.

In [40]:
#code here!

**>>>** Change the values in the "value" column from kg to mt. As a reminder, a mega ton is 1 million times larger, so 10^6.

In [42]:
# code here!

**>>>** Shorten our dataframe by selecting only the lines relatives to the cities that belong to the Alpes-de-Haute-Provence department for the year 2016 using the ``.loc[]`` method. Don't forget the parentheses for each condition you use if you want to make sure the filter will behave as expected! And, as usual, don't forget to replace the old df by the new one once your tests are satisfactory.

*Note*: when using the method ``.loc[]`` the operators "and" and "or" become "&" and "|". Why? Because here we don't compare two expressions  but a set of these expressions. This is called "bitwise operations".

In [44]:
# code here!

**>>>** Use the method ``.reset_index()`` to reset the index to 0 of our dataframe.

In [46]:
#code here!

## Finding geographical coordinates of the cities

Now that we have cleaned up the file, changed the unit of the value column and eliminated all the cities we didn't want, we are going to retrieve the coordinates (latitude and longitude) of all the cities of the Alpes-de-Haute-Provence. Two methods can be used : with an API or with a join.

### Method 1 : Using an API

**>>>** Using the Requests library, write a function called "get_coord" that takes as input the name of the city and gives as output the latitude and longitude of this city. To do this, use the API https://adresse.data.gouv.fr/. You can use the parameters "q" (abbreviation of *query* which indicates the search to be done) and "limit" to limit the results obtained for more clarity.

To avoid getting bad results from homonymous or paronymous cities, you can indicate to the API a priority zone of research by passing arguments "lat" and "lon". Use Digne-les-Bains coordinates.

Be careful because the order in which the API gives us the latitude and the longitude is not the right one, it will be necessary to reverse it. This can be done easily thanks to a little trick with the *slices*. It's up to you to discover it.

Sometimes the API doesn't seem to answer correctly and doesn't return the expected JSON, to avoid that the program crashes it will also be necessary to foresee the case where the API doesn't find the city and thus where the key 'features' is not found in the JSON received. In that case your function should return ``None`` or ``pd.NA``.

*Tip: You can use an online JSON viewer, like this one http://jsonviewer.stack.hu/ to better see the content of the answers.*

*Note: the more experienced among you can make their code more readable by using a dictionary of parameters instead of using "f strings".*

In [48]:
#code here!
import requests

def get_coord(city):
    pass # delete the "pass" instruction and write your own function

**>>>** Then apply this function to a new column that you will call 'coord'. Sending around 200 queries - one for each of the cities in the 04 department - means that the code will take about 30 seconds to run. You can add a magic command ``%%time`` at the beginning of the cell to time it.

The object stored in each value of the Series (= column) 'coord' will be a list. In general it is not a good practice to store objects like lists or dictionaries in a *DataFrame*. But we will make an exception here and keep the coordinates in this type to save time on the next steps.

In [50]:
#code here!

Our series 'coord' has been successfully created! You can jump directly to the "calculate the cities less than 30km away" title.

## Method 2 : performing joins

In order to do this, we need the data. Luckily there's a [file available on data.gouv.fr](https://www.data.gouv.fr/fr/datasets/r/dbe8a621-a9c4-4bc3-9cae-be1699c5ff25) that meets our requirements.

**>>>** Load the file in dataframe named "geo_df". You can either download it and then read it from your hard drive or read it directly from the url (yes Pandas can do that!). If you don't know what types of data are in your csv, you can start bu using the parameter "dtype" avec give it "str" as argument. It will convert every column as string.

In [51]:
# Code here!

#### Exploration

**>>>** Explore your new dataset. How many rows and columns? Are the Series dtypes consistent with the data they store? What columns are we interested in? How many empty values are they in each column?

In [53]:
# Code here!

In [54]:
# Code here!

In [55]:
# Code here!

In [56]:
# Code here!

**>>>** We are going to perform a join using the name of the cities as key. However, our file concerns all the cities in France. To avoid possible homonyms, we will reduce the size of our "geo_df" by selecting only the rows relating to cities in the Alpes-de-Haute-Provence department (04). Use `.loc[]` to do this (be careful, have a look on how departments are coded in "geo_df"!)

In [58]:
# Code here!

**>>>** Maintenant, comparez le nombre de lignes de geo_df avec celui de notre df en utilisant la propriété `.shape`. Pour rappel, une ligne est égale à une commune. Que constatez-vous ?

**>>>** Now compare the number of lines in geo_df and our df using the `.shape` property. As a reminder, one line is equal to one city. What do you see?

In [60]:
# Code here!

In [61]:
# Code here!

In [62]:
print(df.shape[0], geo_df.shape[0])

198 244

**>>>** The column "line 5" seems to concern places or communes that have merged administratively with other communes. Keep only the rows where the values of the column "line 5" are null.

In [63]:
#code here!

**>>>** To better visualise the data and avoid storing unnecessary data in the computer's RAM, "slice" geo_df by keeping only the useful columns, i.e. "nom_commune_complet", "latitude" and "longitude". To slice a dataframe you can give a list of columns inside the "[]" slicing operator:

```python

my_df[["col1", "col2", "col3"]]

```

In [65]:
# Code here!

**>>>** Rename the column "nom_commune_complet" to "city".

In [67]:
# Code here:

In [68]:
# Solution:
geo_df = geo_df.rename(columns={"nom_commune_complet":"city"})

**>>>** We will now make sure that the cities names are as close as possible. Create a function named ``format_city()`` that formats the cities names by removing :
- spaces
- apostrophes
- commas
- accents
- hyphens

To remove accents let's import the `unidecode` function from the `unidecode` library using the following syntax:

```python
from unidecode import unidecode
```

You may have to install the library first. Once the library is imported, it is imported for the whole *notebook*.


Apply this function to the original df and to geo_df.

In [69]:
# Example
from unidecode import unidecode

unidecode("é")

'e'

In [70]:
# Code here!
from unidecode import unidecode

def format_city(text):
    
    pass # delete this instruction and code your function using a return! 

# Now apply your function on df['city'] and df['nom_commune_complet']:

In [72]:
geo_df.head(1)

        city       latitude      longitude
1608  AIGLUN  44.0638744567  6.13842845338

**>>>** Perform the join using the keys 'city' for our df and 'nom_commune_postal' for geo_df. Use the `pd.merge()` function to do so.

In [73]:
# code here

**>>>** Examine the results of the join. Do all cities now have latitude and longitude? If not, why?

In [75]:
# Code here!

**>>>** Delete the city or cities that do not have a latitude. Use the "subset" argument of the `.dropna()` method.

In [77]:
# Code here!

Our coordinates are stored as a string in two different columns. In order to keep the same output format as the per API method we will store them as a list in a column named 'coord'. To do this, run the following function.

In [79]:
df['coord'] = df[['latitude', 'longitude']].apply(lambda x :[float(x[0]), float(x[1])], axis=1)

In [80]:
df['coord'].head(2)

0    [44.0638744567, 6.13842845338]
1    [43.7887902464, 6.03091832001]
Name: coord, dtype: object

### Calculate the cities less than 30 km away

We are now going to determine the cities that are less than 30 km away from Digne in order to be able, *in fine*, to add up the GHG emitted.

**>>>** Create a function named "haversine" that uses the [Haversine formula](https://fr.wikipedia.org/wiki/Formule_de_haversine) to compute the distance between Digne and all the other cities of Alpes-de-Haute-Provence.

You can code it yourself, find it already written by doing a search on the internet or install a library from which you can import the function. It's up to you to apply it properly.

*Tip: numpy is a library widely used in python to do scientific calculation. It is usually imported using the alias "np".*

In [81]:
digne_lat_lon = [44.089291, 6.242589]

def haversine():
    pass # delete the "pass" and write your own function!

In [83]:
# Use this cell to verify if your function works
haversine([44.257187, 6.603604]) # should return a number around 34.31 kms

34.31495591780193

**>>>** Create a new column named "distance_from_digne" and apply the Haversine formula on it.

Note: If you used the API method some values might be outliers, because the coordinates of some cities may have been miscalculated. You can remove them, but it is not mandatory.

In [84]:
#code here!

In [86]:
#code here!
# you can use a .describe() on your new column "distance_from_digne"

### Final calculation

To obtain the answer to our initial question, filter the "value" series by taking only the cities whose distance is equal to or less than 30kms from Digne, then apply the function ``.sum()`` to this Series.

In [88]:
#code here!

### Save the dataframe as a new CSV file

**>>>** Save the file as a new csv file using the method ``pd.to_csv()`` which takes the destination directory as its main argument. If you give it only the file name, Pandas saves it in the current directory. If you don't want the index (which is not very useful), specify ``False`` in the ``index`` parameter.

In [ ]:
#code here!

### BONUS: map generation with Leaflet

**>>>** Install the Folium library and read its documentation. Then Generate a map called "m" that displays a marker (*folium.Marker*) for each city in the final dataframe (so only for the cities in the "Alpes-de-Haute-Provence"). Each marker should be blue if the city is more than 30 kms away and red if the city is less than 30kms away from Digne. In the text that appears when clicked (*popup*) indicate the name of the city, its distance from Digne and the amount of GHG emitted.

Add also a red circle with a radius of 30km aand centered on Digne-les-Bains.

**Hint**:

- In that particular case, iterate through ``df.index`` might be a good idea.

In [ ]:
#code here!

In [ ]:
#code here!
# display the map by tying is name (m)

### Map export

Save the map as a html file.

In [ ]:
#code here!